[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=k
Group=www-data
WorkingDirectory=default_working_dir
Environment="PATH=default_env"
ExecStart=default_exec --ini myproject.ini

[Install]
WantedBy=multi-user.target
